.btn-animated {
    background-color: #d17abe;
    color: #fff;
    border: none;
    padding: 10px 20px;  /* Añade un ancho adecuado */
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 50px;          /* Controla el ancho */
    height: 50px;         /* Controla la altura */
    position: relative;
    overflow: hidden;
    transition: background 0.3s ease;
}

.btn-animated .arrow {
    display: inline-block;
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.btn-animated:hover {
    background-color: #e08ceb;
}

.btn-animated:hover .arrow {
    transform: translateY(-5px);
}
