.horario-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 200px;
  margin: 0 auto;
}

.cita {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.hora {
  font-weight: bold;
}

.paciente {
  font-size: 0.9em;
  color: #555;
}
